# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  test:
    parameters:
      python-version:
        type: string
      django-version:
        type: string

    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/python:<< parameters.python-version >>
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Poetry Install..."
          command: "poetry install"
      - run:
          name: "Install Django..."
          command: "poetry run pip install 'Django~=<< parameters.django-version >>'"
      - run:
          name: "Test"
          command: "poetry run coverage run"
      - run:
          name: "Report"
          command: "poetry run coverage report"

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  qa-workflow:
    jobs:
      - test:
          matrix:
            parameters:
              python-version: ["3.7", "3.8", "3.9", "3.10"]
              django-version: ["2.2", "3.0", "3.1", "3.2", "4.0", "4.1"]

            exclude:
              - python-version: "3.10"
                django-version: "2.2"
              - python-version: "3.10"
                django-verison: "3.0"
              - python-version: "3.10"
                django-verison: "3.1"
              - python-version: "3.7"
                django-verison: "4.0"
              - python-version: "3.7"
                django-verison: "4.1"
